:root{
  --primary-color: #4caf50;
  --primary-color-hover: #45a049;
  --secondary-color: #ff9800;
  --background-color: rgba(38, 38, 38, 1);
  --text-color: #ffffff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 800px;
  margin: 0 auto;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}
a{
  color: var(--text-color);
  text-decoration: none;
}
li{
  list-style: none;
}

button{
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover{
  background-color: var(--primary-color-hover);
  box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
}



@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}