:root {
  --primary-color: #4caf50;
  --primary-color-hover: #45a049;
  --secondary-color: #ff9800;
  --background-color: rgba(38, 38, 38, 1);
  --text-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
li {
  list-style: none;
}
.page {
  width: 100%;
  padding: 10px;
  font-family: "Inter", system-ui, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  border: 1px solid #e5e7eb75;
  border-radius: 8px;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.icons {
  display: flex;
  gap: 10px;
}
.icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #484848;
  border-radius: 14px;
  padding: 16px;
  margin-bottom: 20px;
}
.card-left h2 {
  margin: 0;
  font-size: 16px;
}

.card-left p {
  margin-top: 6px;
  font-size: 12px;
  font-weight: 600;
}
.card-left .band {
  color: #dc2626;
}
.card-left .bosh {
  color: #16a34a;
}

.next,
.prev,
.primary-btn {
    background: #007330;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.calendar-card {
  background: #525252;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.calendar-header h3 {
  margin: 0;
  font-size: 18px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 12px;
  color:#fff;
  margin-bottom: 8px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}
.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: #00000087;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-modal {
  color: #fff;
  background: #2b2b2b;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.allBookings {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #0000007a;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.allBookingModal {
  max-width: 600px;
  width: 60%;
  min-height: 300px;
  max-height: 500px;
  overflow-x: scroll;
  padding: 0px 20px;
  background: #3c3c3c;
  border-radius: 20px;
  color: #fff;
  position: relative;
}
.item {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.iconbox {
  display: flex;
  gap: 10px;
}
.iconbox > div {
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  padding: 10px 0px;
  border-bottom: 2px solid #fff;
  top: 0;
  background: #3c3c3c;
}
.bottom {
  position: sticky;
  bottom: -10px;
  left: 0;
  padding: 10px;
  background: #3c3c3c;
  display: flex;
  justify-content: center;
}
.items{
  min-height: 200px;
}
.btnbox {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.day {
  background: #f9fafb;
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
  color: #000;
  position: relative;
}
.day:hover {
  transform: translateY(-2px);
}

.day.band {
  background: #f6abab;
  color: #991b1b;
}
.day.bosh {
  background: #ecfdf5;
  color: #065f46;
}

.day-number {
  font-weight: 600;
  font-size: 10px;
}

.day small {
  display: block;
  margin-top: 4px;
  font-size: 11px;
}

.empty {
  visibility: hidden;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.navbar {
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  border-radius: 8px;
}

.nav-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  background: #007330;
  color: #ffffff;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: var(--background-color);
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal input,
.modal select {
  padding: 10px;
  border-radius: 6px;
  background: var(--background-color);
  color: var(--text-color);
  border: 1px solid #ccc;
}
.modal input::placeholder {
  color: #999;
}
.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.modal > h3 {
  color: #fff;
}
.save {
  background: #2ecc71;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
}

.cancel {
  background: #bdc3c7;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
}
.cancel:hover {
  background: #95a5a6;
}

.next,
.prev {
  font-size: 18px;
  cursor: pointer;
}
.disabled {
  background:#636363 !important;
  color:#e5e7eb !important;
  cursor: no-drop !important;
  
}
.disabled:hover{
  transform: translate(0px);
}

.page {
  background: var(--background-color);
  color: var(--text-color);
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.card {
  background: inherit;
  border-radius: 14px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
}

.status.band {
  color: var(--secondary-color);
}

.status.bosh {
  color: var(--primary-color);
}

.primary-btn {
    background: #007330;

  color: #ffffff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
}

.calendar-card {
  background: #1b1b1b;
  border-radius: 14px;
  padding: 12px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weekdays,
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 10px;
  gap: 6px;
}

.weekdays span {
  text-align: center;
  opacity: 0.6;
  font-size: 12px;
}

.day {
  position: relative;
  height: 44px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.day.bosh {
  background: rgba(76, 175, 80, 0.15);
  color: var(--primary-color);
}

.day.band {
  background: rgba(255, 152, 0, 0.2);
  color: var(--secondary-color);
}

.tooltip {
  position: absolute;
  bottom: 115%;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  padding: 10px;
  border-radius: 10px;
  min-width: 180px;
  z-index: 10;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.tooltip-btn {
  margin-top: 8px;
  width: 100%;
  background: var(--primary-color);
  border: none;
  padding: 6px;
  border-radius: 6px;
}

/* PAGE */
.login-wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #0f0f0f;
  font-family: system-ui;
}

/* CARD */
.login-card {
  width: 100%;
  max-width: 360px;
  background: #181818;
  padding: 32px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* TEXT */
.title {
  color: #fff;
  font-size: 24px;
}
.subtitle {
  color: #9ca3af;
  font-size: 14px;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
}

.modal {
  background: #181818;
  padding: 24px;
  border-radius: 14px;
  width: 300px;
  text-align: center;
}

.modal h3 {
  color: #fff;
  margin-bottom: 12px;
}

.question {
  font-size: 22px;
  color: #4caf50;
  margin-bottom: 12px;
}

/* ERROR */
.error {
  color: #ff4d4f;
  font-size: 13px;
  margin-top: 6px;
}

/* ACTIONS */
.modal-actions {
  display: flex;
  gap: 10px;
  margin-top: 16px;
}
.loading {
  color: #fff;
  text-align: center;
}

.cancel {
  background: #333;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.lines {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}
.line {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
}
.menu-drop {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #2b2b2b;
  border-radius: 10px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-shadow: 0 10px 100px rgba(0, 0, 0);
  z-index: 99;
}

.menu-drop button {
  background: none;
  border: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  text-align: left;
  cursor: pointer;
}

.menu-drop button:hover {
  background: #3a3a3a;
}

@media (max-width: 600px) {
  .page {
    padding: 12px;
  }

  .days {
    gap: 2px;
  }

  .day {
    height: 36px;
    gap: 4px;
    width: 36px;
  }
}

@media (max-width: 500px) {
  .day {
    background: #f9fafb;
    border-radius: 10px;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;
    color: #000;
    position: relative;
  }
}
@media (max-width: 480px) {
  .allBookingModal {
    width: 95%;
  }
  .container{
    padding: 10px;
  }
}

@media (max-width: 420px) {
  .navbar {
    padding: 16px 10px;
  }
  .nav-brand > h1 {
    font-size: 24px;
  }
  .add-btn {
    padding: 8px 10px;
    color: #ffffff;
  }
  .next,
  .prev {
    padding: 4px 8px;
  }
  .day {
    width: 34px;
    height: 34px;
    margin: 0 auto;
  }
  .right {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}
